.loading {
    // position: absolute;
    // right: 50%;
    // transform: translateX(50%);
    // bottom: 0;
    will-change: transform;
    transition: all 0.25s;
    display: flex;
    justify-content: center;

    div {
        max-height: 4rem !important;
        max-width: 4rem !important;
    }
}