.select {
  color: var(--color-grey-dark-2);

  //for safari

  .css-yjcsjf-control {
    font-size: 2rem;
    min-height: 5rem;
  }
}

.select + label {
  display: block;
  margin-top: 0.5rem;
  transition: all 0.25s;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}
